/* =====================================
FOR GENERAL ELEMENTS
*/
body{
	background: #ffffff;
	font-family: Montserrat, impact, sans-serif;
}

/* make hyperlinks less apparent, not blue or underlined*/
a {
    color: #000000;
    text-decoration: none;
}

a:hover {
     color:#000000; 
     text-decoration:none; 
     cursor:pointer;  
}

table {
	margin: 20px auto;
	table-layout: fixed;
	width: 100%; /* must have this set */
	clear: both;
	padding: 100px;
}

.table-fix {
	margin: 60px auto;
}

.table-small {
	width: 60%;
	margin: 40px auto;
}

td {
	text-align: center;
	padding: 0px;
	vertical-align: middle;
}

/*horizontal line*/
hr {
  width: 200px;
  height: 2px;
  margin-right: auto;
  margin-left: auto;
  color: #d3d3d3;
}

p {
	text-align: center;
}

.no-bullets {
    list-style-type: none;
}

.col-centered{
	clear: both;
    float: none;
    margin: 0 auto;
}

#gray {
	background-color: #f1f1f1;
}


/* =====================================
FOR HEADER ELEMENTS:
	1. name
	2. tagline
	3. navbar
*/

#name-logo {
	text-align: center;
	font-size: 5.8vw;
}

#nav-container {
	text-align: justify;
}

#tagline {
	text-align: center;
	font-weight: lighter;
	font-size: 20;
}

.navbar {
	padding-top: 5px;
	display: inline-block;
	float: none;
	vertical-align: middle;
}

.navbar .navbar-collapse {
 	text-align: center;
}

.navbar-custom {
    background-color: transparent;
    border: none;
}


/* =====================================
FOR IMAGES
*/
.image {
	width: 100%;
	height: auto;
	display: block;
	margin: 0 auto;
}

.rotate {
	-ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
}

/* =====================================
FOR FOOTER
*/
.footer {
	padding-top: 35px;
}

.footer > .credits > h6 {
	margin-top: 0px;
	margin-bottom: 0px;
	color: gray;
}

#copyright {
	margin-top: 13px;
	margin-bottom: 20px;
}

.social-media {
	vertical-align: top;
	padding-left: 50px;
	display: inline-block;
	float: left;

}

.media-icon {
	height: 40px;
	width: 45px;
}

.credits {
	padding-right: 20px;
	display: inline-block;
	text-align: right;
	float: right;
}

/* =====================================
FOR KEEPING FOOTER AT BOTTOM OF SCREEN
CSSReset.com - How To Keep Footer At Bottom of Page with CSS
Original Tutorial: http://www.cssreset.com/2010/css-tutorials/how-to-keep-footer-at-bottom-of-page-with-css/
*/

html,
body {
	margin:0;
	padding:0;
	height:100%;
}
#wrapper {
	min-height:100%;
	position:relative;
}
#header {
	padding:10px;
}
#content {
	padding-bottom:100px; /* Height of the footer element */
}
#footer {
	width:100%;
	height:100px;
	position:absolute;
	bottom:0;
	left:0;
	clear: both;
}


/* =====================================
FOR MISCELLANEOUS ELEMENTS
*/
#section-header {
	text-align: center;
	font-size: 3vw;
	margin-top: 25px;
	margin-bottom: 30px;
}

#section-header-small-top {
	text-align: left;
	font-size: 2vw;
	padding-top: 0px;
	padding-bottom: 15px;
	margin-top: 20px;
}

.centered-text {
	text-align: center;
}

.verticalLine {
    border-left: medium solid #000000;
}
